/* custom properties */
:root {
  /* spacings */
  --gallery-margin-block: 1.5rem;
  --dessert-info-margin-top: 3rem;
  --desserts-gallery-gap:2rem;

  /* typography */
  --fs-gallery_title: 2.5rem;
  --fs-dessert_info:1.5rem;
  --fs-product-cart-title:1.8rem;
}

.wrapper-container {
  max-width: var(--wrapper-container-max-width);
}

.gallery__title {
  font-family: var(--ff-RedHat_Bold);
  font-size: var(--fs-gallery_title);
  color: var(--clr-rose_900);
  letter-spacing: 0.7px;
}

.desserts-gallery-container{
  margin-block: var(--gallery-margin-block);
  gap: var(--desserts-gallery-gap);
}

.dessert__img__wrapper {
  overflow: hidden;
  border-radius: 0.8rem;
}

.dessert__info {
  font-family: var(--ff-RedHat_SemiBold);
  margin-block-start: var(--dessert-info-margin-top);
  font-size: 1.5rem;
}

.dessert__name {
  margin-block: 0.3rem;
  color: var(--clr-rose_900);
  font-weight: 600;
}

.dessert__category {
  color: var(--clr-rose_300);
  font-size:1.3rem;
}

.dessert__price {
  color: var(--clr-red);
  font-weight: 600;
}

.add_to_cart_btn {
  font-family: var(--ff-RedHat_SemiBold);
  font-size: 1.4rem;
  background-color: var(--clr-rose_50);
  color: var(--clr-rose_900);
  padding: 1rem 2rem;
  border-radius: 30px;
  gap: 0.8rem;
  border: 1px solid var(--clr-rose_900);
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  z-index: 2;
  min-width:max-content;
  transition: border-color 200ms ease;
  overflow: hidden;
}

.add_to_cart_btn:hover {
  border-color: var(--clr-red);
}


.add_to_cart_btn span,
.add_to_cart_btn >  img {
  min-width: fit-content;
}

/* product cart */
.product-cart {
  background-color: var(--clr-rose_50);
  border-radius: 0.8rem;
  padding: 2rem 1.5rem;
}

.product-cart__title {
 font-family: var(--ff-RedHat_Bold);
 font-size: var(--fs-product-cart-title);
}

.product--cart__empty {
  margin-block: 2rem;;
}

.cart__empty__message {
  font-family: var(--ff-RedHat_Bold);
  color: var(--clr-rose_500);
}

/* product card */

.product__card {
  font-family: var(--ff-RedHat_SemiBold);
  padding-block:1.2rem;
  justify-content: space-between;
  border-bottom: 1px solid rgba(183, 174, 174, 0.562);
}

.product__card__category {
  font-size: 1.4rem;
  color: var(--clr-rose_900);
}

.product__card__info {
  margin-block-start: .6rem;
  gap: 1rem;
  font-size: 1.4rem;
}

.product__card__price,
.product__card__total {
  color: rgb(184, 173, 173);
}

.product__card__remove-btn {
  width: 20px;
  height: 20px;
  padding: 0.2rem;
  display: grid;
  place-content: center;
  border: 1px solid var(--clr-rose_500);
  border-radius: 50%;
}










/* media queries */

/* responsive for devices more than 575px */
@media (min-width:575px) {
  :root {
    --wrapper-container-max-width:500px    
  }

  .desserts-gallery-container {
    grid-template-columns:repeat(2,1fr) ;
  }
}

/* responsive for devices more than 700px */
@media (min-width:700px) {
  :root {
    --wrapper-container-max-width:670px;
    --main_container_padding:4rem 2rem;
    
  }

  .wrapper-container {
    grid-template-columns: 0.65fr 0.35fr;
    gap: 3rem;
    align-items: start;
  }
}

/* responsive for devices more than 992px */ 
@media (min-width:992px) {
  :root {
    --wrapper-container-max-width:950px    
  }

  .desserts-gallery-container {
    grid-template-columns:repeat(3,1fr) ;
  }

  .wrapper-container {
    grid-template-columns:0.7fr 0.3fr ;
  }
}


