.main-container {
  padding: var(--main_container_padding);
}

.product--cart__empty,
.product--cart__empty img {
  max-width: max-content  ;
}

.product__card,
.product__card__info {
  display: flex;
  align-items: center;

}

.product-cart__title,
.product__card__count{
  color: var(--clr-red);
}

.product__card__count,
.product__card__total {
  font-family: var(--ff-RedHat_Bold);
}

.order__total__price,
.product__card__category {
  color: var(--clr-rose_900);
}